@{
    ViewBag.Title = "Home Page";
}

<table>
    <tr>
        <td valign="top"> @Html.Partial("_ListSurveysPartial")</td>
        <td valign="top">@Html.Partial("_ViewUserSurveys")</td>
    </tr>
</table>
<section id="ListSurveys">
</section>