<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merida.diego.project1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Choose"
            android:label="@string/title_activity_choose" >
        </activity>
        <activity
            android:name=".MultipleChoice"
            android:label="@string/title_activity_multiple_choice" >
        </activity>
        <activity
            android:name=".True_False"
            android:label="@string/title_activity_true__false" >
        </activity>
        <activity
            android:name=".Text_Entry"
            android:label="@string/title_activity_text__entry" >
        </activity>
        <activity
            android:name=".MainPanel"
            android:label="@string/title_activity_main_panel" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".Takeit"
            android:label="@string/title_activity_takeit" >
        </activity>
    </application>

</manifest>
