@using System.Text
@model MvcApplication1.Models.AnalyticsModel

@{
    ViewBag.Title = "Analytics";
}

<h2>Analytics</h2>
<div id="analytics-container">   
    <div class="ss-all-analytics" dir="auto" i>
        @Html.Partial("_AnalyticsPartial")
    </div>
</div>


